services:
  - type: web
    name: culture-benin
    runtime: docker
    dockerfilePath: ./Dockerfile
    dockerContext: .
    region: frankfurt
    plan: free
    healthCheckPath: /
    autoDeploy: true
    # ADD THIS:
    port: 80
    # Also update build filter:
    buildFilter:
      paths:
        - "**"
        - "!.env"
        - "!node_modules"
        - "!storage/logs/*"
